services:
- type: web
  name: twitter-backend
  env: docker
  rootDir: backend
  dockerfilePath: Dockerfile
  plan: starter
  envVars:
  - key: APP_ENV
    value: production
  - key: APP_DEBUG
    value: false
  - key: APP_URL
    value: https://two025-fullstack-exam-backend.onrender.com
  - key: DB_CONNECTION
    value: mysql
  - key: DB_HOST
    sync: false # set in Render dashboard
  - key: DB_PORT
    value: 3306
  - key: DB_DATABASE
    sync: false
  - key: DB_USERNAME
    sync: false
  - key: DB_PASSWORD
    sync: false
  - key: SENTRY_LARAVEL_DSN
    sync: false
  - key: SESSION_SECURE_COOKIE
    value: true
  - key: SESSION_DOMAIN
    value: two025-fullstack-exam.onrender.com
  - key: SANCTUM_STATEFUL_DOMAINS
    value: two025-fullstack-exam.onrender.com
  - key: CORS_ALLOWED_ORIGINS
    value: https://two025-fullstack-exam.onrender.com
  postDeployCommand: php artisan migrate --force

- type: static
  name: twitter-frontend
  rootDir: frontend
  buildCommand: npm install && npm run build
  staticPublishPath: build
  envVars:
  - key: REACT_APP_API_BASE_URL
    value: https://two025-fullstack-exam-backend.onrender.com/api
