.happening-now {
  background-color: #f7f9fa;
  border-radius: 16px;
  padding: 16px;
   margin: 0 1rem;
}

.happening-now h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.trending-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eff3f4;
}

.trending-info {
  display: flex;
  flex-direction: column;
}

.trending-item p {
  font-size: 15px;
  font-weight: bold;
  color: #0f1419;
}


.option {
  color: #536471;
  cursor: pointer;
}

.show-more-btn {
  background-color: transparent;
  border: 1px solid #eff3f4;
  border-radius: 9999px;
  padding: 12px 24px;
  margin-top: 16px;
  font-size: 15px;
  font-weight: bold;
  color: #1d9bf0;
  cursor: pointer;
  width: 100%;
}

.show-more-btn:hover {
  background-color: rgba(29, 155, 240, 0.1);
}
